:root {
  --body-font-size: 1.5rem;
  --body-line-height: 2rem;
  --body-font-weight: 400;
  --body-font-family: var(--font-open-sans);
  --title-font: var(--font-nunito);
  --color-pearly-white: #D9D9D9;
  --color-gray: #232323;
  --color-gray-soft: #e5ecf1;
  --color-gray-light: #2d2d2d;
  --color-gray-light-d: #4D4D4D;
  --color-gray-d: #3D3D3D;
  --body-color: #fff;
  --color-blue: #0F6EB3;
  --color-blue-light: #0F6EB2;
  --color-blue-darken: #194A5F;
  --color-diamond: #0F6EB2;
  --color-yellow: #FFC940;
  --color-gold: #E9981E;
  --color-orange: #DC572D;
  --color-pink: #F48FD8;
  --color-pink-darken: #722F5F;
  --color-green: #AEDC2D;
  --color-turquoise: #66DBBF;
  --color-turquoise-darken: #0A5845;
  --color-purple: #B998FF;
  --color-purple-darken: #362066;

  --color-error: #FF0000;
}

.box {
  width: 200px;
  height: 200px;
  background: #000;

  &.red_box {
    background: #ff0000;
  }
}

.box.red_box {
  background: #ff0000;
}

.modal {
  display: none;
  position: absolute;
  left: -1000px;
  top: -1000px;
  /*
    Какие то стили....
  */

  //Класс для показа окна
  &.visible {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal.visible {

}