@import "src/assets/styles/helpers/mixin";

.footer {
  padding: 75px 0 120px;
  background: var(--color-blue-darken);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include _768 {
    flex-direction: column-reverse;
    gap: 1.5rem;
  }
}

.terms {
  > a {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    @include hoverWhite;;
  }
}

.copyright {
  > p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  > p > span {
    margin-right: 10px;
    font-weight: 700;
    position: relative;

    &::before {
      background: #fff;
      border-radius: 50%;
      content: "";
      height: 3px;
      position: absolute;
      right: -10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 3px;
    }
  }
}