@import "src/assets/styles/helpers/mixin";

.title {
  margin-bottom: 60px;

  @include _768 {
    text-align: center;
    margin-bottom: 30px;
  }
}

.accordion {
  background: transparent;
}

.accordionQuestion {
  font-weight: 700;
}

.accordionAnswer {
  color: #bdbdbd;
}

.accordionHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.video {
  width: 200px;
  height: 200px;
}