@import "src/assets/styles/helpers/mixin";

.socialIcons {
  display: flex;
}

.socialIcon {
  padding: 0 10px;

  > a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    @include hoverWhite;
  }
}