@import "src/assets/styles/helpers/mixin";

.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include _1200 {
    display: block;
  }

  > h1 {
    color: inherit;
    text-transform: uppercase;

    @include _1200 {
      text-align: center;
    }
  }
}

.animBox {
  position: relative;
  border-radius: 50%;

  @include _1024 {
    display: none;
  }
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: inherit;
}

.lineAnim {
  height: 2px;
  background: inherit;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
