@import "src/assets/styles/helpers/mixin";

.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include _1200 {
    display: block;
  }

  > h1 {
    color: inherit;
    text-transform: uppercase;

    @include _1200 {
      text-align: center;
    }
  }
}

.lineAnim {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: 2px;
    transform: translateX(-100%);
    top: 8px;
    transition: 0.5s;
    width: 0;
    background: inherit;
  }

  @include _1200 {
    display: none;
  }
}

[data-aos="titleAnimation"] {
  @media screen and (min-width: 768px) {

    &.aos-animate {
      &::before {
        width: 800px !important;
      }
    }
  }
}