@import "src/assets/styles/helpers/mixin";

.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include _1200 {
    display: block;
  }

  > h1 {
    color: inherit;
    text-transform: uppercase;

    @include _1200 {
      text-align: center;
    }
  }
}

.animBox {
  width: 100%;
  position: relative;

  @include _1200 {
    display: none;
  }

  &.themeColorPurple {
    .circle, .lineAnim{
      background-color: #ca47d6;
    }
  }

  &.themeColorYellow {
    .circle, .lineAnim{
      background-color: #FFC940;
    }
  }

  &.themeColorGreen {
    .circle, .lineAnim{
      background-color: #AEDC2D;
    }
  }
}

.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.lineAnim {
  height: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}



