@import "src/assets/styles/helpers/mixin";
@import "src/assets/styles/helpers/variables";

.logo {
  position: relative;
  color: rgb(255, 255, 255);

  > h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: $bold;

    @include _768 {
      font-size: 2rem;
      line-height: 2.5rem;
    }

    @include _480 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  > p {
    font-size: $text-small;
    line-height: $text-small-height;
    font-weight: $semiBold;
    padding-left: 0.1rem;

    @include _1024 {
      display: none;
    }
  }
}

.key {
  position: absolute;
  top: -35px;
  left: -41px;
  width: 68px;
  height: 64px;
  animation: move infinite linear .7s;
  animation-direction: alternate;

  @include _768 {
    height: 44px;
    width: 46px;
    top: -27px;
    left: -32px;

    svg {
      width: 55px;
      height: 55px;
    }
  }

  @include _480 {
    top: -20px;
    left: -25px;;

    svg {
      width: 45px;
      height: 45px;
    }
  }
}

@keyframes move {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(10deg);
  }
}