@import "src/assets/styles/helpers/mixin";

.video {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @include _1440 {
    width: 70vw;
  }

  @include _1024 {
    width: 80vw;
  }
}

.content {
  height: 100vh;
}

.mobWrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.mobVideo {
  width: 80vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @include _576 {
    width: 100vw;
  }
}