/* Font settings */

// Desktop

$title: 2rem;
$title-height: 2.5rem;

$text: 1.5rem;
$text-height: 2rem;

$text-medium: 1.125rem;
$text-medium-height: 1.6rem;

$text-small: 0.875rem;
$text-small-height: 1.4rem;

// Mobile
$text-mobile: 1rem;
$text-mobile-height: 1.5rem;

/* Font weight settings */
$medium: 500;
$semiBold: 600;
$bold: 700;
