@import 'src/assets/styles/helpers/mixin';
@import 'src/assets/styles/helpers/variables';

.title {
	color: #c3b6b6;
	font-size: 17px;
	font-weight: 600;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: center;
	margin-bottom: 23px;
}

.tokenInfoHeader {
	color: #5e5e5e;
	font-size: 16px;
	font-weight: 600;
	margin: 0 50px;
	margin-top: 24px;
	margin-bottom: 13px;

	@include _768 {
		margin: 0;
		margin-top: 24px;
		margin-bottom: 13px;
	}
}

.tokenInfo {
	margin: 0 50px;

	@include _768 {
		margin: 0;
	}
}
