@import "src/assets/styles/helpers/mixin";

.image {
  width: 45%;

  //@include _1200 {
  //  width: 50%;
  //}
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  align-items: center;
}