@import "src/assets/styles/helpers/mixin";

.wlBar {
  position: relative;
  padding: 25px 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include _768 {
    padding: 20px 50px;
  }
}

.wlItem {
  display: flex;
  align-items: center;
  gap: 30px;

  &.inWl {
    color: #FFB800;;
  }

  @include _768 {
    font-size: 1rem;
    gap: 15px;
  }
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-gray);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}