@import "src/assets/styles/helpers/mixin";

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  display: block;

  &.noBorder {
    border: none;
  }

  > img {
    max-width: 100%;
    height: auto;
  }

  @include  _1024 {
    width: 45px;
    height: 45px;
  }

  @include  _768 {
    width: 40px;
    height: 40px;
  }

  @include  _480 {
    width: 35px;
    height:35px;
  }
}