@import 'src/assets/styles/helpers/mixin';
@import 'src/assets/styles/helpers/variables';

.mintBox {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 28px;

	@media (max-width: 750px) {
		margin-top: 20px;
	}
}

.inputWrapper {
	width: 50%;
}

.btn {
	width: 50%;
}

.text {
	color: #767272;
	line-height: 19.07px;
}
