@import 'src/assets/styles/helpers/mixin';
@import 'src/assets/styles/helpers/variables';

.mintBox {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 28px;

	@media (max-width: 760px) {
		margin-top: 20px;
	}

	.__mintBoxBtn {
		width: 70%;
	}
}


.wl-box-err{
	position: absolute;
	top: 230px;
}



.wl-box-text {
	padding: 0;
	margin-top: 35px;
	margin-bottom: 35px;
	
	@media only screen and (max-width: 760px) {
		font-size: 14px !important;
	}
}
