.mintPlace {
  position: absolute;
  background: #F4E9E9;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  //display: none;

  //&.visible {
  //  display: block;
  //}
}

.content {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  padding: 40px 20px 20px 20px;

  > img {
    margin-bottom: 1em;
  }

  > p {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    color: #706464;
    margin-bottom: 1.5em;
  }
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
}

